<div class="center">
  <div class="relative">
    <div class="Github-Search">
      <b>Github</b>
      <span class="text-style-1"> Search</span>
    </div>
    <form (submit)="searchSubmit($event)">
      <div class="search-bar shadow">
        <input type="text" class=" Search-Input" name="userName" [(ngModel)]="userName">
        <button type="submit" class="search-button">
          <img src="./assets/img/search-icon.svg" class="Search-Icon">
        </button>
      </div>
    </form>
  </div>
</div>